body
{
	margin:0;
	padding: 0;
	background: black;
	font-family: arial;

}
.img-box
{
	background-image:url('../images/back-img.jpg');
	background-size:100%;
}

a
{
	color: inherit;
	text-decoration: none;

}

div.container
{
	width:100%;
	height: auto;
	/*border: 1px solid black;*/

}
div.wrapper
{
	width:1100px;
	height: auto;
	border: 1px solid black;
	margin: auto;
}

/*-------------- Header --------------*/
div.header
{

	height: 100px;
	width:100%;
	border: 1px solid white;
}
div.logo-cont
{
	height: 80px;
	width:170px;
	float: left;
}
div.header-menu-cont
{
	height: 40px;
	width:600px;
	float: right;
	padding:30px 0px;
}
span.header-menu-items
{
	color: white;
	margin: 0px 10px;
	font-size: 14px;
	font-weight: bold;
}
span.header-menu-items a:hover
{
	color:rgb(255,115,0);
	transition: .5s;
}
button.login-btn
{
	background: rgb(244,244,240);
	color: black;
	padding: 5px 15px;
	border-radius: 5px;
	font-size: 12px;
	font-weight: bold;
	transition: .4s;
	cursor: pointer;
}
button.login-btn:hover
{
	background: rgb(238,217,166);
}

/*body
{
 padding: 0;
 margin: 0;
 background: black;
 font-family: arial;
}
div.container
{
	border: 1px solid blue;
	width: auto;
	height: 850px;
}
div.wrapper
{
	border: 1px solid red;
	width: 1500px;
	margin:auto;
	height: 850px;
	/*transform: scale(0.1);
	transition: .5s;*/
}
/*.wrapper:hover
{
	transform:scale(1);
}*/
/*
div.header
{
	border: 1px solid red;
	width: 1500px;
	height: 100px;

}
div.quiz
{
	width: 300px;
	height: 30px;
	font-size: 40px;
	margin-left: 200px;
}
div.ser1
{
	width: 500px;
	height: 50px;
	border:1px solid green;
}
#S3
{
	height: 30px;
	width: 350px;
	font-size: 30px;
	margin-top: -20px;
	margin-bottom: 10px;
	float-left;
	margin-left: 1000px;
}
.Cir
{
	border: 1px solid blue;
	width: 1500px;
	height: 500px;
}
.Circle
{
	border: 1px solid red;
	width: 400px;
	height: 400px;
	float: left;
	margin-left: 530px;
	border-radius: 700px;
	margin-top: 50px

}
.box
{
	border: 1px solid green;
	width: 1480px;
	height: 50px;
	padding: 10px;
}
.textbox
{
	border: 1px solid black;
	width: 300px;
	height: 50px;
	float:left;
	margin-left: 200px;
	font-size: 40px;
}


.Serch
{
	border: 1px solid red;
	height: 50px;
	width: 524px;
	float: left;
	margin-left: 100px;
	font-size: 20px;

}
#S1
{
	height: 44px;
	width: 520px;
	font-size: 30px;
}
.box2
{
	border: 1px solid green;
	width: 1480px;
	height: 50px;
	padding:10px;
}
.textbox2
{
	border: 1px solid red;
	width: 300px;
	height: 50px;
	float: left;
	margin-left: 200px;
	font-size: 40px;
}
.Serch2
{
	border: 1px solid red;
	width: 524px;
	height: 50px;
	float: left;
	margin-left: 100px;
}
#S2
{
	height: 44px;
	width: 520px;
	font-size: 30px;
}
.button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    font-size: 20px;
}

.button:hover {
    opacity: 0.8;
}
