body
{
	margin:0;
	padding: 0;
	background: white;
	font-family: arial;

}
.img-box
{
	background-image:url('../images/back-img.jpg');
	background-size:100%;
}

a
{
	color: inherit;
	text-decoration: none;

}

div.container
{
	width:100%;
	height: auto;
	/*border: 1px solid black;*/

}
div.wrapper
{
	width:1100px;
	height: auto;
	border: 1px solid black;
	margin: auto;
}

/*-------------- Header --------------*/

/*------------ login -------------*/

div.login-register
{
	margin-top: 0px;
	border:1px solid white; 
	height: 600px;
	width: 100%;
}
div.login
{
	color: black;
	margin: 0px 0px;
	font-size: 25px;
	font-weight: bold;
	text-align:center;
	padding: 0px 0px;
	text-decoration: underline;
}

div.signup
{
	border: 1px solid black;
	background color: white;
	padding-left: 10px 0px;
	margin: 0px 90px;
	height: 450px;
	width: 430px;
	
}
h4.heading
{
	color: black;
	margin: 0px 0px;
	font-size: 20px;
	font-weight: bold;
	padding: 0px 0px;
}
form
 {
 	
 	padding: 0px 10px;
 	margin: 0px 5px;

 }
 div.submit-btn-cont
{
	padding: 10px 170px;
}
button.submit-btn
{
	margin: 5px 140px;
	background: #ff7300;
	color: white;
	font-size: 20px;
	font-family: arial;
	padding: 5px 10px;
	border: none;

}

button.login-btn-cont
{
	background: rgb(244,244,240);
	color: black;
	padding: 5px 15px;
	border-radius: 5px;
	font-size: 12px;
	font-weight: bold;
	transition: .4s;
	cursor: pointer;
}
button.login-btn-cont:hover
{
	background: rgb(238,217,166);
}

input[type=text], input[type=password] {
    width: 100%;
    height: 100%;
    padding: 10px 10px;
    margin: 5px 0px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
input[type=sumbmit] 
{
	background: #ffb300;
    font-size: 14px;
    font-weight: 600;
    padding: 8px 0px;
    border: none;
    width: 150px;
    
}

div.login1
{
	border: 1px solid black;
	padding: 10px 10px;
	margin: 10px auto;
	height: 400px;
	width: 430px;
	
}
div.signin
{
	
	margin: 0px 5px;
	padding: 10px 0px;
	border: 1px solid black;
}
div.input-menu-itam
{
	height: auto;
}




/*-------------------- Footer ----------------------
